/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

body {
  font-family: "Source Sans Pro", san-serif;
  background: #f3f3f3;
  color: #232528;
}
.fa-amazon {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.text-title {
  text-transform: uppercase;
}
.text-blue {
  color: #2a2a72;
}
.fa-cart-plus {
  color: white;
  font-family: "Source Sans Pro", san-serif;
  border-color: white;
}
.cart-style {
  border-color: white !important;
}

.header {
  background: #f34d35 !important;
}
.navbar-nav {
  color: white;
}
.text-bright {
  color: #009ffd;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: #232528;
  border-radius: 0;
  border: 0.1rem solid #232528;
}

.btn-black:hover {
  background: #232528 !important;
  color: #f3f3f3 !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: #ffa400;
}

.btn-modal {
  text-transform: capitalize;
  font-size: 1.4 rem;
  background: transparent;
  border: 0.05rem solid #009ffd;
  border-color: #009ffd;
  color: #009ffd;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: all 0.5s ease-in-out;
}

.btn-modal:hover {
  background: lightblue;
  color: blue;
}

.btn-modal:focus {
  outline: none;
}

.nav-link {
  color: blue;
}
