/*body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 0 0 0;
}

.fa-amazon {
  color: white;
  font-size: 20px;
  font-weight: bold;
}*/
